{
    "openapi": "3.0.0",
    "info": {
        "title": "ODC Pratique API",
        "description": "API documentation for ODC Pratique project",
        "contact": {
            "email": "votre@email.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        },
        {
            "url": "/api"
        }
    ],
    "paths": {
        "/v1/articles": {
            "get": {
                "summary": "Récupérer tous les articles",
                "description": "Permet de récupérer la liste de tous les articles",
                "operationId": "6631548fd487712edde0882f2d031833",
                "responses": {
                    "200": {
                        "description": "Liste des articles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "libelle": {
                                                "type": "string",
                                                "example": "Article 1"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Description de l'article 1"
                                            },
                                            "stock": {
                                                "type": "integer",
                                                "example": 100
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé"
                    }
                }
            },
            "post": {
                "summary": "Ajouter un nouvel article",
                "description": "Permet d'ajouter un nouvel article",
                "operationId": "24e0ba93bdc04160c734e06ee53cb483",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "libelle": {
                                        "type": "string",
                                        "example": "Article 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Description de l'article 1"
                                    },
                                    "stock": {
                                        "type": "integer",
                                        "example": 100
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Article créé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "libelle": {
                                            "type": "string",
                                            "example": "Article 1"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Description de l'article 1"
                                        },
                                        "stock": {
                                            "type": "integer",
                                            "example": 100
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Échec de la création de l'article"
                    }
                }
            }
        },
        "/v1/articles/{id}": {
            "get": {
                "summary": "Récupérer un article spécifique",
                "description": "Permet de récupérer un article par son ID",
                "operationId": "fe7df2295b2fddf88faa013ab9b27116",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article récupéré",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "libelle": {
                                            "type": "string",
                                            "example": "Article 1"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Description de l'article 1"
                                        },
                                        "stock": {
                                            "type": "integer",
                                            "example": 100
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Article non trouvé"
                    }
                }
            },
            "put": {
                "summary": "Mettre à jour un article spécifique",
                "description": "Permet de mettre à jour un article par son ID",
                "operationId": "6fed5f54f7c4b857914fe33064d27599",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "libelle": {
                                        "type": "string",
                                        "example": "Article 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Description de l'article 1"
                                    },
                                    "stock": {
                                        "type": "integer",
                                        "example": 100
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Article mis à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "libelle": {
                                            "type": "string",
                                            "example": "Article 1"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Description de l'article 1"
                                        },
                                        "stock": {
                                            "type": "integer",
                                            "example": 100
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Article non trouvé"
                    }
                }
            },
            "delete": {
                "summary": "Supprimer un article spécifique",
                "description": "Permet de supprimer un article par son ID (soft delete)",
                "operationId": "f318f4dc964d60119ece5e4e795807b8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article supprimé"
                    },
                    "404": {
                        "description": "Article non trouvé"
                    }
                }
            }
        },
        "/v1/articles/libelle": {
            "post": {
                "summary": "Récupérer un article par son libelle",
                "description": "Permet de récupérer un article par son libelle",
                "operationId": "84aa3331763d6f8b8a0e7fab771e7898",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "libelle": {
                                        "type": "string",
                                        "example": "Article 1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Article récupéré",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "libelle": {
                                            "type": "string",
                                            "example": "Article 1"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Description de l'article 1"
                                        },
                                        "stock": {
                                            "type": "integer",
                                            "example": 100
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Article non trouvé"
                    }
                }
            }
        },
        "/v1/articles/updateStock": {
            "post": {
                "summary": "Mettre à jour le stock des articles",
                "description": "Permet de mettre à jour le stock des articles",
                "operationId": "1b47944d148b681c041883c12825fcb6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "articles": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "stock": {
                                                    "type": "integer",
                                                    "example": 100
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Stock des articles mis à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Stock updated successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Échec de la mise à jour du stock"
                    }
                }
            }
        },
        "/v1/login": {
            "post": {
                "summary": "Login de l'utilisateur",
                "description": "Permet à un utilisateur de se connecter",
                "operationId": "7abb047ced1329103f0767160e852fc9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login": {
                                        "type": "string",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Connexion réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "your_access_token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Échec de la connexion"
                    }
                }
            }
        },
        "/v1/logout": {
            "post": {
                "summary": "Déconnexion de l'utilisateur",
                "description": "Permet à un utilisateur de se déconnecter",
                "operationId": "fb4913f284432ecf8c1394ad6c99a14e",
                "responses": {
                    "200": {
                        "description": "Déconnexion réussie"
                    },
                    "401": {
                        "description": "Échec de la déconnexion"
                    }
                }
            }
        },
        "/v1/register": {
            "post": {
                "summary": "Inscription de l'utilisateur",
                "description": "Permet à un utilisateur de s'inscrire",
                "operationId": "d9e61e050fc948da6eb592172578662d",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Inscription réussie",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Échec de l'inscription"
                    }
                }
            }
        },
        "/v1/clients": {
            "get": {
                "summary": "Récupérer tous les clients",
                "description": "Permet de récupérer la liste de tous les clients avec filtrage, tri et pagination",
                "operationId": "5a44769c9e6504c59ef6d758dfde5990",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numéro de la page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Tri des résultats",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filtrage des résultats",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des clients",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "John Doe"
                                            },
                                            "email": {
                                                "type": "string",
                                                "example": "client@example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé"
                    }
                }
            },
            "post": {
                "summary": "Ajouter un nouveau client",
                "description": "Permet d'ajouter un nouveau client",
                "operationId": "4310d43685b6e2a62ae89681795ec793",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "client@example.com"
                                    },
                                    "telephone": {
                                        "type": "string",
                                        "example": "123-456-7890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Client créé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "client@example.com"
                                        },
                                        "telephone": {
                                            "type": "string",
                                            "example": "123-456-7890"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Échec de la création du client"
                    }
                }
            }
        },
        "/v1/clients/{id}": {
            "get": {
                "summary": "Récupérer un client spécifique",
                "description": "Permet de récupérer un client par son ID",
                "operationId": "fda38456d886b1a7b41ed2e8bb7a0f61",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client récupéré",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "client@example.com"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Client non trouvé"
                    }
                }
            },
            "put": {
                "summary": "Mettre à jour un client spécifique",
                "description": "Permet de mettre à jour un client par son ID",
                "operationId": "512003c852d66054adcfa6d85878db12",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "client@example.com"
                                    },
                                    "telephone": {
                                        "type": "string",
                                        "example": "123-456-7890"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Client mis à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "client@example.com"
                                        },
                                        "telephone": {
                                            "type": "string",
                                            "example": "123-456-7890"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Client non trouvé"
                    }
                }
            },
            "delete": {
                "summary": "Supprimer un client spécifique",
                "description": "Permet de supprimer un client par son ID",
                "operationId": "abfe904e76efab14fd1ab01d39b6a743",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client supprimé"
                    },
                    "404": {
                        "description": "Client non trouvé"
                    }
                }
            }
        },
        "/v1/clients/telephone": {
            "get": {
                "summary": "Rechercher un client par numéro de téléphone",
                "description": "Permet de rechercher un client par numéro de téléphone (partial search)",
                "operationId": "ee25f8ec2c86fa30e976bcf6f2fd558e",
                "parameters": [
                    {
                        "name": "telephone",
                        "in": "query",
                        "description": "Numéro de téléphone",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "client@example.com"
                                        },
                                        "telephone": {
                                            "type": "string",
                                            "example": "123-456-7890"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Client non trouvé"
                    }
                }
            }
        },
        "/v1/clients/{id}/dettes": {
            "post": {
                "summary": "Récupérer les dettes d'un client",
                "description": "Permet de récupérer les dettes d'un client par son ID",
                "operationId": "8101fb2a787fde17637f9fee2b59a3cf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dettes du client récupérées",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "amount": {
                                                "type": "number",
                                                "example": 100
                                            },
                                            "due_date": {
                                                "type": "string",
                                                "example": "2023-12-31"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Client non trouvé"
                    }
                }
            }
        },
        "/v1/clients/{id}/user": {
            "post": {
                "summary": "Récupérer un client avec son user",
                "description": "Permet de récupérer un client avec son user par son ID",
                "operationId": "52e1589c7feb0ac56a10159b6f65a79a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client avec son user récupéré",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "client@example.com"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "John User"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "user@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Client non trouvé"
                    }
                }
            }
        },
        "/v1/users": {
            "get": {
                "summary": "Récupérer tous les utilisateurs",
                "description": "Permet de récupérer la liste de tous les utilisateurs",
                "operationId": "0e69ec7c952b784b446c59d0dc9955ab",
                "responses": {
                    "200": {
                        "description": "Liste des utilisateurs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "John Doe"
                                            },
                                            "email": {
                                                "type": "string",
                                                "example": "user@example.com"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé"
                    }
                }
            },
            "post": {
                "summary": "Ajouter un utilisateur",
                "description": "Permet d'ajouter un nouvel utilisateur",
                "operationId": "9ed60112e13ac6a098aa78c17a39d099",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Utilisateur créé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "user@example.com"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Échec de la création de l'utilisateur"
                    }
                }
            }
        },
        "/v1/users/{id}": {
            "get": {
                "summary": "Récupérer un utilisateur",
                "description": "Permet de récupérer un utilisateur par son ID",
                "operationId": "e2a9e9265f7be93b919519df96b87cb7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur récupéré",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "user@example.com"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            },
            "put": {
                "summary": "Mettre à jour un utilisateur",
                "description": "Permet de mettre à jour un utilisateur par son ID",
                "operationId": "81fadd62a4c882784f05f43316994719",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Utilisateur mis à jour",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "John Doe"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "user@example.com"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            },
            "delete": {
                "summary": "Supprimer un utilisateur",
                "description": "Permet de supprimer un utilisateur par son ID",
                "operationId": "da07da2839b7648faf27d4d36ecba553",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Utilisateur supprimé"
                    },
                    "404": {
                        "description": "Utilisateur non trouvé"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "BearerToken": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "description": "JWT authorization header using the Bearer scheme."
            }
        }
    },
    "security": [
        {
            "BearerToken": []
        }
    ]
}